body {
    background-image: url('storm.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

h4 {
    background-color: blueviolet;
    width: 500px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
